:root {
    --background-primary: #DDD;
    --background-secondary: #ABC;
    --background-highlight: #5b179b;
    --foreground-primary: #3C3C3C;
    --foreground-highlight: #FFF;
}

/* Centre text in the header and footer regions as opposed to centring with flex */
header, footer {
    text-align: center;
    margin: 2rem;
}

header p {
    width: 80vw;
    justify-self: center;
}

header h1 {
    margin-bottom: 1rem;
}

/* Enable Flex on the body and the containing element of our Flexbox elements */
body, main {
    display: flex;
}

/* Set page background and flex direction to column */
body {
    background-color: var(--background-primary);
    flex-direction: column;
}

/* Enforce wrapping of CSS snippet blocks */
main {
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 2em 1em;
    margin-left: 1em;
    margin-right: 1em; */
}

div {
    box-sizing: border-box;
    padding: 0 1rem 1rem 1rem;
    flex: 1 0 30vw;
    position: relative;
    outline: dashed 2px var(--foreground-primary);
    margin: 1em;
}

/* Set snippet blocks to not shrink, grow, base width 1/3rd of page. Prime for absolutely-positioned items */
article {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Create a floating header over the info cards */
article h2 {
    display: relative;
    background-color: var(--background-primary);
    margin-top: -20px;
    padding: 0 0.3rem;
    border: solid 2px var(--foreground-primary);
    border-radius: 5px;
    z-index: 2;
}

div, article > h2 {
    transition-property: box-shadow;
    transition-duration: 0.3s;
    box-shadow: 0 0 0 0 #5b179b00;
}

div :hover, article > h2 :hover {
    box-shadow: 0 0 5px 1px var(--background-highlight);
}

article p, article code {
    font-size: 10pt;
    box-shadow: none !important;
}

article p, article pre {
    padding: 0.5em;
}

article code {
    font-family: 'Courier New', Courier, monospace;
}

pre {
    background-image: linear-gradient(#DDD, #ABC);
    flex-grow: 1;
    user-select: all;
}

pre ::selection {
    background-color: var(--background-highlight);
    color: var(--foreground-highlight);
}

@media screen and (max-width: 768px) {
    article {
        flex-basis: 90%;
    }
}